@using BookTrainTicketsWEB.Models
@{
    IEnumerable<LichTrinh> ListLichTrinhDi = ViewBag.ListLichTrinhDi as IEnumerable<LichTrinh>;
    IEnumerable<LichTrinh> LichTrinhKhuHoi = ViewBag.LichTrinhKhuHoi as IEnumerable<LichTrinh>;
}
@{
    ViewBag.Title = "LichTrinh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Banner -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Tìm Kiếm Vé
                </h1>
                <p class="text-white link-nav">
                    <a href="~/Admin/Home/Index">Trang Chủ </a>
                    <span class="fa fa-angle-double-right"></span>
                    <a href="hotels.html"> Tìm Kiếm</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->
<!-- #region Tàu Đi -->
<section class="destinations-area section-gap">
    <div class="container">
        @if (ListLichTrinhDi.Count() <= 0)
        {
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">CHIỀU ĐI</h1>
                        <p>Xin Lỗi Quý Khách. Hiện Tại Không Có Chuyến Tàu Nào</p>
                    </div>
                </div>
            </div>
        }
        @if (ListLichTrinhDi.Count() > 0)
        {
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">CHIỀU ĐI</h1>
                        <p>Có @ListLichTrinhDi.Count() chuyến tàu</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in ListLichTrinhDi)
                {
                    <div class="col-lg-4">
                        <div class="single-destinations">
                            <div class="thumb">
                                <img src="~/Assets/Admin/img/hotels/d1.jpg" alt="">
                            </div>
                            <div class="details">
                                <h4 class="d-flex justify-content-between">
                                    <span>
                                        @item.NhaGa.TenNhaGa <i class="fa fa-long-arrow-right" aria-hidden="true"></i> @item.GaDen
                                    </span>
                                </h4>
                                <ul class="package-list">
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Mã Lịch Trình</span>
                                        <span>@item.MaLichTrinh</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Ngày Đi</span>
                                        <span>@item.NgayDi</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Ngày Đến Dự Kiến</span>
                                        <span>@item.NgayDuKienDen</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Mã Tàu</span>
                                        <span>@item.MaTau</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Tên Tàu</span>
                                        <span>@item.Tau.TenTau</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Địa Điểm Xuất Phát</span>
                                        <span>@item.NhaGa.TenNhaGa</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span></span>
                                        <button class="price-btn">Đặt Chổ</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
<!-- #endregion -->

<!-- #region Tàu Về (Khứ Hồi) -->
<section class="destinations-area section-gap">
    <div class="container">
        @if (LichTrinhKhuHoi.Count() <= 0)
        {
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">CHIỀU Về</h1>
                        <p>Xin Lỗi Quý Khách. Hiện Tại Không Có Chuyến Tàu Nào</p>
                    </div>
                </div>
            </div>
        }
        @if (LichTrinhKhuHoi.Count() > 0)
        {
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">CHIỀU ĐI</h1>
                        <p>Có @LichTrinhKhuHoi.Count() chuyến tàu chiều về</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in LichTrinhKhuHoi)
                {
                    <div class="col-lg-4">
                        <div class="single-destinations">
                            <div class="thumb">
                                <img src="~/Assets/Admin/img/hotels/d1.jpg" alt="">
                            </div>
                            <div class="details">
                                <h4 class="d-flex justify-content-between">
                                    <span>
                                        @item.NhaGa.TenNhaGa <i class="fa fa-long-arrow-right" aria-hidden="true"></i> @item.GaDen
                                    </span>
                                </h4>
                                <ul class="package-list">
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Mã Lịch Trình</span>
                                        <span>@item.MaLichTrinh</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Ngày Đi</span>
                                        <span>@item.NgayDi</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Ngày Đến Dự Kiến</span>
                                        <span>@item.NgayDuKienDen</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Mã Tàu</span>
                                        <span>@item.MaTau</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Tên Tàu</span>
                                        <span>@item.Tau.TenTau</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span>Địa Điểm Xuất Phát</span>
                                        <span>@item.NhaGa.TenNhaGa</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span></span>
                                        <button class="price-btn">Đặt Chổ</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
<!-- #endregion -->
